.detailContainer {
    width: 100%;
}

.detailContainer div {
    width: 100%;
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.detailContainer div span {
    color: #EE5007;
}
